node_modules/
.idea/
.mta/
mta*
*.mtar
dist/
package-lock.json
mta_archives/
deployer/resources/

.che/
.gen/
gen/
target/

.cds_gen.log
connection.properties
db/node_modules
db/srv
.DS_Store
*.orig
_out
default-*.json
package-lock.json
*db
